@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 95vh;
    display: grid;
    place-items: center;
    background: -moz-linear-gradient(90deg, rgba(161,130,225,1) 0%, rgba(168,62,181,0.9177865401558254) 38%, rgba(255,27,250,0.6511198624320652) 100%);
    background: -webkit-linear-gradient(90deg, rgba(161,130,225,1) 0%, rgba(168,62,181,0.9177865401558254) 38%, rgba(255,27,250,0.6511198624320652) 100%);
    background: linear-gradient(90deg, rgba(161,130,225,1) 0%, rgba(168,62,181,0.9177865401558254) 38%, rgba(255,27,250,0.6511198624320652) 100%);
    filter: progid:DXImageTransform.Microsoft.
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 30em;
}

.fa {
    margin: 0 25px 0 10px;
}

.head__section img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
}
.head__section p{
    text-align: center;
    color: #fff;
    margin-top: 4px;
    font-size:20px;
}
.social__links ul li{
    width: 100%;
    margin: 1.2rem 0;
    padding: 0.4rem 0.8rem;
    background: black;
    border-radius: 5px;
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      backdrop-filter: blur( 0px );
      transition: background 0.25s;
      transform-style: preserve-3d;
      perspective: 500px;
      box-shadow: 0 0 0.8rem  rgba(255, 255, 255, .12);
    }
}
.js-tilt-glare{
    border-radius: 5px;
}
.social__links ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 1rem;
}
.social__links ul li a i{
    text-align: center;
    line-height: 4rem;
    font-size: 1.8rem;
    
    @media only screen and (min-width: 768px) {
      /* For desktop: */
      text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
      transform: scale(1.4) translateZ(50px);
      transition: 0.25s;
    }
}
.social__links ul li a span{
    line-height: 1.4rem;
}
.social__links ul .instagram:hover{
    background: #fd5949;
}
.social__links ul .youtube:hover{
    background:#FF0000;
}
.social__links ul .telegram:hover{
    background:#0088cc;
}
.social__links ul .github:hover{
    background: #333;
} 
.social__links ul .censal:hover{
    background: pink;
} 
.social__links ul .mia:hover{
    background: yellow;
} 
@media only screen and (max-width: 549px) {
    .container{
        width: 88vw;
    }
  }
